:root {
    --color-black: #555555;
    --color-white: #ffffff;
    --color-text-dark: #fff;
    --color-text-light: #333;
    --color-white-15-percent: rgba(255, 255, 255, 0.15);
    --color-black-10-percent: rgba(0, 0, 0, 0.1);
    --color-plan: #368F17;
    --color-red: #F44336;
    --color-pink: #E91E63;
    --color-purple: #9C27B0;
    --color-deep-purple: #673AB7;
    --color-indigo: #3F51B5;
    --color-blue: #2196F3;
    --color-light-blue: #03A9F4;
    --color-cyan: #00BCD4;
    --color-teal: #009688;
    --color-green: #4CAF50;
    --color-light-green: #8BC34A;
    --color-lime: #CDDC39;
    --color-yellow: #ffe821;
    --color-amber: #FFC107;
    --color-orange: #FF9800;
    --color-deep-orange: #FF5722;
    --color-brown: #795548;
    --color-blue-grey: #607D8B;
    --color-yellow-15-percent: rgba(255, 220, 40, 0.15);
    --color-cpu-yellow: #e0d264;
    --color-ram-green: #7dcc24;
    --color-chunk-brown: #b58310;
    --color-entity-purple: #ac69ef;
    --color-bright-blue: #1E90FF;
    --color-ping-amber: #ffd54f;
    --color-map-green: #EEFFEE;
    --color-high-green: #267F00;
    --color-medium-yellow: #e5cc12;
    --color-low-red: #b74343;
    --color-alert-success: #d2f4e8;
    --color-alert-warning: #fdf3d8;
    --color-alert-danger: #fadbd8;
    --color-success: #1CC88A;
    --color-warning: #F6C23E;
    --color-danger: #e74A3B;
    --color-alert-success-text: #0f6848;
    --color-alert-warning-text: #806520;
    --color-alert-danger-text: #78261f;
    --color-secondary: #6c757d;
    --color-cool-grey: #6e707e;
    --color-grey: #9E9E9E;
    --color-ink: #222222;
    --color-dark-slate: #212529;
    --color-medium-slate: #3a3b45;
    --color-table-slate: #44454e;
    --color-border-slate: #4b4d5a;
    --color-light-slate: #5a5c69;
    --color-light-grey: #dddddd;
    --color-table-grey: #f3f3f3;
    --color-white-grey: #f8f9fc;
    --color-pale-grey: #eaecf4;
    --color-cement-grey: #e3e6f0;
    --color-border-grey: #dddfeb;
    --color-pie-0: #0099C6;
    --color-pie-1: #66AA00;
    --color-pie-2: #316395;
    --color-pie-3: #994499;
    --color-pie-4: #22AA99;
    --color-pie-5: #AAAA11;
    --color-pie-6: #6633CC;
    --color-pie-7: #E67300;
    --color-pie-8: #329262;
    --color-pie-9: #5574A6;
    --color-drilldown-0: #438c99;
    --color-drilldown-1: #639A67;
    --color-drilldown-2: #D8EBB5;
    --color-drilldown-3: #D9BF77;

    --color-night-black: #282a36;
    --color-night-dark-blue: #44475a;
    --color-night-blue: #6272a4;
    --color-night-grey-blue: #646e8c;
    --color-night-dark-grey-blue: #606270;
    --color-night-text: #eee8d5;
    --color-night-text-50-percent: rgba(238, 232, 213, 0.5);

    --color-theme: var(--color-plan);
    --color-themeText: var(--color-theme);
    --color-text: var(--color-text-light);

    --color-layout-background: var(--color-white-grey);
    --color-layout-title: var(--color-light-slate);
    --color-layout-divider: var(--color-black-10-percent);
    --color-layout-help-icon: var(--color-light-blue);
    --color-layout-loader-border: var(--color-theme);
    --color-layout-loader-background: var(--color-theme);
    --color-sidebar-background: var(--color-theme);
    --color-sidebar-text: var(--color-text-dark);
    --color-sidebar-divider: var(--color-white-15-percent);
    --color-sidebar-collapsible-section-background: var(--color-white);
    --color-sidebar-collapsible-section-text: var(--color-text);
    --color-sidebar-collapsible-section-hover: var(--color-pale-grey);

    --color-card-background: var(--color-white);
    --color-card-border: var(--color-cement-grey);
    --color-card-title: var(--color-layout-title);
    --color-tables-border: var(--color-cement-grey);
    --color-tables-hover: var(--color-pale-grey);
}
